input {
	border-radius: 15px;
	padding: 2px;
}
select[name="marca"]{
	border-radius: 20px;
	padding: 1px;
	border: 2px solid black;
}
body {
	//background-color: blue;
	background:linear-gradient(to right,rgba(250, 250, 250, 0),rgba(250, 250, 250, 1)),url(../imagen.jpg);
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 100;
	margin-right: 50;
	margin-top: 20;
	color: white;
}
img{
	<img src="dep.jpg">
	vertical-align:buttom;
	border-radius:10px;
	width:550px;
	height:330px;
	filter:drop-shadow(0 0 10px blue);
}
